*,
*::after,
*::before {
	box-sizing: border-box;
}

@font-face {
    font-family: 'SuperspitzeGrotesk';
    src: url('../../fonts/SuperspitzeGrotesk-SemiBold.eot'),
        url('../../fonts/SuperspitzeGrotesk-SemiBold.woff') format('woff'),
        url('../../fonts/SuperspitzeGrotesk-SemiBold.ttf')  format('truetype'),
        url('../../fonts/SuperspitzeGrotesk-SemiBold.svg') format('svg'),
        url('../../fonts/SuperspitzeGrotesk-SemiBold.otf') format('opentype');
    font-style: normal;
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'SuperspitzeGrotesk';
    width: 100%;
}

p {
    margin:0;
    padding: 0;
}

header {
    height: 100vh;
    width: auto;
}

.header {
    width: 975px;
    height: 599px;
    position: relative;
    margin-top: 150px;
    padding: 0;
}

.n {
    font-size: 80px;
    color: rgb(17, 28, 167);
    position: absolute;
    z-index: 2;
    top: -48px;
    left: -31px;
}

.o {
    font-size: 80px;
    color: rgb(17, 28, 167);
    position: absolute;
    z-index: 2;
    top: -50px;
    right: 49px;
}

.m {
    font-size: 80px;
    color: rgb(17, 28, 167);
    position: absolute;
    z-index: 2;
    top: 195px;
    left: -36px;
}

.i {
    font-size: 80px;
    color: rgb(17, 28, 167);
    position: absolute;
    z-index: 2;
    top: 195px;
    right: 66px;
}

.r {
    font-size: 80px;
    color: rgb(17, 28, 167);
    position: absolute;
    z-index: 2;
    bottom: 18px;
    left: -31px;
}

.a {
    font-size: 80px;
    color: rgb(17, 28, 167);
    position: absolute;
    z-index: 2;
    bottom: 18px;
    left: 460px;
}

.rr {
    font-size: 80px;
    color: rgb(17, 28, 167);
    position: absolute;
    z-index: 2;
    bottom: 18px;
    right: 49px;
}

.picture {
    z-index: 3;
    position: relative;
    overflow: hidden;
}

















.js .loading::before {
	content: '';
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #efeff2;
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1001;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin: -25px 0 0 -25px;
	pointer-events: none;
	border-radius: 50%;
	background: #dcdcde;
	animation: loaderAnim 0.8s ease-out infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		transform: scale3d(0.5,0.5,1);
	}
}


/* items */
.item {
	position: relative;
	width: 500px;
	max-width: 100%;
	margin: 0 0 0 auto;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	grid-column: span 2;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.item:nth-of-type(even) {
	margin: 0 auto 0 0;
}

.item:first-of-type {
	grid-column: span 1;
}

.item__svg {
	position: relative;
	display: block;
	width: 80%;
	height: auto;
	min-height: 500px;
	margin: 0 auto;
}

.item__clippath,
.item__deco,
.item__img {
	transform-origin: 50% 50%;
}

.item__meta {
	position: absolute;
	top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.item__title {
	font-size: 70px;
	font-weight: 600;
	width: 100%;
	margin: 1em 0 0 0;
	text-align: center;
	letter-spacing: 0.125em;
/*	color: #ff0000;*/
    color: rgb(250, 250, 250);
    text-shadow:
        -1px -1px 0 rgb(8, 45, 81),
        1px -1px 0 rgb(8, 45, 81),
        -1px 1px 0 rgb(8, 45, 81),
        1px 1px 0 rgb(8, 45, 81); 
}


/* Individual styles */
.item--style-1 .item__deco {
	fill: #dcdcde;
}

.item--style-2 .item__deco {
	fill: #404040;
}

.item--style-3 .item__deco {
	fill: #fff;
}

.item--style-3 .item__title {
	color: #131314;
}

.item--style-4 .item__deco {
	fill: #dcdcde;
}

.item--style-5 .item__deco {
	fill: #404040;
}

.item--style-6 .item__deco {
	fill: #dcdcde;
}

.item--style-7 .item__deco {
	fill: #fff;
}

.item--style-7 .item__title {
	color: #131314;
}

.item--style-8 .item__deco {
	fill: #404040;
}

.item--style-9 .item__deco {
	fill: #dcdcde;
}
