
.cssco {
    position: relative;
}

.cssco:after {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.cssco img {
    display: block;
    height: auto;
    width: 100%;
}

.cssco.cssco--x1 {
    background-color: #444;
}

.cssco.cssco--x1:after {
    background-color: #333;
    mix-blend-mode: lighten;
}

.cssco.cssco--x1 img {
    -webkit-filter: grayscale(100%) contrast(190%) brightness(110%);
            filter: grayscale(100%) contrast(190%) brightness(110%);
    opacity: 0.75;
}
