@font-face {
    font-family: 'SuperspitzeGrotesk';
    src: url('../fonts/SuperspitzeGrotesk-SemiBold.eot'),
        url('../fonts/SuperspitzeGrotesk-SemiBold.woff') format('woff'),
        url('../fonts/SuperspitzeGrotesk-SemiBold.ttf')  format('truetype'),
        url('../fonts/SuperspitzeGrotesk-SemiBold.svg') format('svg'),
        url('../fonts/SuperspitzeGrotesk-SemiBold.otf') format('opentype');
    font-style: normal;
    font-weight: 700;
}

/* FAIRE DES VARIABLES POUR LES COULEURS QUI CHANGENT AU CHARGEMENT */

body {
    margin: 0;
    font-family: 'SuperspitzeGrotesk';
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

p {
    margin:0;
}

.contain {
    width: 74vw;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.header {
    width: 90%;
    height: 77vh;
    position: relative;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}


.no {
    font-size: 12vh;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mi {
    font-size: 12vh;
    color: black;
    width: 98.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 23vh;
}

.rar {
    font-size: 12vh;
    color: black;
    width: 100%;
    margin-top: 25.5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.picture {
    z-index: 9;
    position: absolute;
    top: 9.8%;
    left: 3.5%;
}


.navigate {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    top:0;
}

.nomirar-nav {
    font-size: 3vh;
    color: rgb(0, 47, 167);
    position:absolute;
    top: 3vh;
    right: 10vw; 
}

.eye {
    position : fixed;
    top: 0.8vh;
    right: 2vh;
    cursor:crosshair;
}

/*
.nav-list{
width: 15%;
left: 86.5%;
top: 20vh;
color: rgb(16, 52, 166);
position: absolute;
display: flex;
flex-direction: row;
justify-content: space-between;
-ms-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
transform: rotate(90deg);   
}


.nav-list > li {
list-style: none;
cursor: crosshair;
}

.nav-list > li > a {
text-decoration: none;
}
*/

h2 {
    font-size: 3vh;
    color: rgb(0, 47, 167);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    margin-top: 40vh;
    margin-left: 5vw;
}

.projets {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70vh;
}

.projet-1 {
    width: 20vh;
    height: 20vh;
    background-color: blue;

}
.projet-2 {
    width: 20vh;
    height: 20vh;
    background-color: indianred;

}
.projet-3 {
    width: 20vh;
    height: 20vh;
    background-color: greenyellow;
    
}